<div class="col-xs-4"></div>
<div class="col-xs-4">    <h3 class="confirmation_text">本当に退会しますか?</h3>
    <p>退会すると、会員情報や<br>
        これまでの投稿が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。</p>
    <table class="withdrawel_button">
        <tr>
            <td>
                <%= link_to user_path(@user) do %>
                <button class="dont_withdrawel btn btn-primary">退会しない</button>
                <% end %>
            </td>
            <td>
            <% if @user.email != "guest@example.com" %>
                <%= link_to(users_withdraw_path, method: :patch) do %>
                <button class="comfirm_withdrawel btn btn-danger ">退会する</button>
                <% end %>
                <% end %>
            </td>
        </tr>
    </table>
    </div>

