<%= form_for @user, url: user_path(@user) do |f| %>
<%= f.text_field :name %>
<%= f.submit "修正する"%>
<% end %>
<%= link_to(users_confirmation_path) do %>
                <button class="btn btn-danger">退会する</button>
              <% end %>