<h2><%= @user.name%>さんのページ</h2>
<% if @user.withdrawal_status == 0 %>
            <p class="label label-primary">有効会員</p>
            <% else %>
            <p>退会済</p>
            <% end %>

             <%= link_to(edit_user_path) do %>
            <button type="button" class="btn btn-primary">編集する</button>
            <% end %>

レビュー一覧
<%= render 'reviews/review_list', reviews: @reviews %>

<h4>高く評価した作品</h4>

<h4>お気に入り</h4>
<%= render 'my_lists/my_list_list', my_lists: @my_lists%>
<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>