<h1>Episodes#show</h1>
<p>Find me in app/views/episodes/show.html.erb</p>
エピソード詳細
<%= @episode.subtitle %>
<%= @episode.explanation %>
レビューする

レビュー一覧
<table>
<% @reviews.each do |review|%>
<tr>
<td>
<%= review.comment %>
<%= link_to review.user.name, user_path(review.user)%>
</td>
</tr>
<% end %>
</table>