<div class="col-xs-1"></div>
<h2 class="about-title"><i class="far fa-question-circle"></i>About</h2>
<div class="image5"></div>
<h4 class="about-text form-title">
    当サイト『ANIMERTER』は、<br>
    『気軽に』『素直に』『自由に』がテーマの<br>
    アニメ専用レビューサイトです。<br>
    <br>
    <br>
    作品の１話ごとにレビューができるので<br>
    皆様の素直な感想を書き込んでください<br>
    <br>
    <br>
    他のユーザに見られたくないレビューは<br>
    プライベートにする事で自分だけが見返す事ができます。<br>
    自分だけの忘備録としてもご活用ください。</h4>