<h2 class="about-title"><i class="far fa-question-circle"></i>About</h2>
<h4 class="about-text">当サイト『ANIMERTER』は、<br>
『気軽に』『素直に』『自由に』がテーマの<br>
アニメ専用レビューサイトです。<br></h4>
<h4 class="about-text2">作品の１話ごとにレビューができるので皆様の尺度で素直な感想を書き込んでください。</h4>
<h4 class="about-text3">他のユーザに見られたくないレビューはプライベートにする事で自分だけが見返す事ができます。<br>
自分だけの忘備録としてもご活用ください。</h4>

