   <div class="my_list-flex">
      <% my_lists.each do |my_list|%>
        <div class="anime-box">
          <h3><%= link_to my_list.anime.title, anime_path(my_list.anime)%></h3>
            <div class="image">
              <%= attachment_image_tag(my_list.anime, :image, :fill,150,150, fallback: "no_image.jpg", width: '100%', height: '200px',  format: "jpg")%>
            </div>
          <% @sum = 0 %>
          <% my_list.anime.episodes.each do |episode| %>
            <% episode_rate = episode.reviews.average(:rate).to_f.round(1)%>
            <% (@sum+=episode_rate) %>
          <% end %>
          <% if my_list.anime.episodes.count != 0 %>
            <div class="review-rating" data-score="<%= @sum/my_list.anime.episodes.count %>"></div>
          <% end %>
        </div>
      <% end %>
    </div>