<h2>全ての作品</h2>
  <% @animes.each do |anime|%>
   <div class="container">
    <div class="jumbotron">
     <div class="row">
        <div class ="col-xs-4 title_image">
          <%= attachment_image_tag(anime, :image, :fill,200,200, fallback: "no_image.jpg", size:'200x200',  format: "jpg")%>
        </div>
          <div class="col-xs-8 anime-box">
            <h3><%= link_to anime.title, anime_path(anime)%></h3>
            <div class="explanation"><%= anime.explanation %></div>
          </div>
      </div>
    </div>
   </div>
  <% end %>
