<h2 class="form-title">全ての作品</h2>
<%# 並び換え機能 %>
<p>検索</p>
<%= form_tag(search_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>


<%= render 'anime_list', animes: @animes %>
<script>
  $('.review-rating').raty({
    size     : 100,
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
