/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

//  ヘッダー
 header{
  position:  relative;
  height: 130px;
  opacity:0.9;
 }
 .logo{
  opacity:1;
  top:5px;
  left:5px;
 }
 .navbar-right{
   font-size: large;
 }
 .navbar-right > li{
   color:red;
   background-color: crimson;
 }

//  ボディ

.form-title{
  border-bottom: 2px solid #F96167;
  font-family: impact;
  font-size: 30px;
}
 .about-title{
   margin: 10px 20px 30px;
   width:11%;
   border-bottom: solid 2px red;
 }

 .about-text{
   margin: 250px auto 20px;
   border-style: none;
 }
 .about-text2{
  margin: 350px auto 20px;
  border-style: none;
}
.about-text3{
  margin: 400px auto 20px;
  border-style: none;
}

 .anime-box {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: 1px solid #F96167;
    box-shadow: 3px 3px 3px 3px #faebd7;
    border-radius: 10px;
 }


 .flex {
   background-size: cover;
   display: flex; /* 追加 */
   flex-wrap: wrap;
   justify-content: center; /* 追加 */

 }
 .flex > .anime-box {
   width: 28%;
   height: 280px;
   margin: 10px;
 }
 .anime-box > h3{
   margin:5px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }
 .anime-box > .image{
 }
 .my_list-flex{
  background-size: cover;
  display: flex; /* 追加 */
  flex-wrap: wrap;
  justify-content: center; /* 追加 */
 }
 .my_list-flex > .anime-box{
  width: 45%;
  height: 270px;
  margin: 10px;
 }
 .comment-table{
    position:  relative;
    background-color: #fff;
    border: 1px solid #F96167;
    box-shadow: 3px 3px 3px 3px #faebd7;
    border-radius: 10px;
    margin:10px;
    padding:10px;
 }
.anime-title{
   position:  absolute;
   left:  220px;
   top: 10px;
}
// バリデーションメッセージ
.alert {
  color:#262626;
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:850;
}

.btn{
  width:100%;
  margin-bottom:10px;
}

.btn-links{
  margin-top:20px;
  padding-top:50px;
  border-top: solid 1px black;
}
.show-anime-box{
  margin:10px 0 30px 0;
}

.episode-box{
  margin:10px 0 30px 0;
  padding-bottom:10px;
  border-bottom: 1px solid #C0C0C0;

}

// 管理者
.admin-top{

}
.top-box{
  width:32%;
  height: 300px;
  border:solid 2px black;
  margin:0.3%;
}
.top-box > i{
  padding-left:30% ;
  padding-top:10%;
}
.top-box > h2{
  padding-left:30%;
}
.top-box > h3{
  padding-left: 38%;
}
