/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

//  ヘッダー
header {
  position: relative;
  height: 130px;
  opacity: 0.9;
}
.logo {
  opacity: 1;
  top: 5px;
  left: 5px;
}
@media screen and (min-width: 768px) {
  .navbar-right {
    display: block !important;
    font-size: large;
    position: relative;
    margin-top: 40px;
  }
}

.header-text {
  color: black;
  font-size: large;
}

//  ボディ

.form-title {
  border-bottom: 2px solid #f96167;
  font-family: impact;
  font-size: 30px;
}
.about-title {
  margin: 10px 20px 30px;
  width: 11%;
  border-bottom: solid 2px red;
}

.about-text {
  margin: 250px auto 20px;
  border-style: none;
}
.about-text2 {
  margin: 350px auto 20px;
  border-style: none;
}
.about-text3 {
  margin: 400px auto 20px;
  border-style: none;
}

.anime-box {
  padding: 0.5em 1em;
  margin: 2em 0;
  border: 1px solid #f96167;
  box-shadow: 3px 3px 3px 3px #faebd7;
  border-radius: 10px;
}
.anime-box:hover {
  padding: 0.5em 1em;
  margin: 2em 0;
  border: 2px solid #f03c43;
  box-shadow: 3px 3px 3px 3px #faebd7;
  border-radius: 10px;
  text-decoration: none;
}

.flex {
  background-size: cover;
  display: flex; /* 追加 */
  flex-wrap: wrap;
  justify-content: center; /* 追加 */
}
.flex > .anime-box {
  width: 28%;
  height: 280px;
  margin: 10px;
}
.anime-box > h3 {
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.anime-title {
  color: black;
  text-decoration: none;
}
.anime-title:hover {
  color: black;
  text-decoration: none;
}
.anime-box > .image {
}
.my_list-flex {
  background-size: cover;
  display: flex; /* 追加 */
  flex-wrap: wrap;
  justify-content: center; /* 追加 */
}
.my_list-flex > .anime-box {
  width: 45%;
  height: 270px;
  margin: 10px;
}
.comment-table {
  position: relative;
  background-color: #fff;
  border: 1px solid #f96167;
  box-shadow: 3px 3px 3px 3px #faebd7;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#back img {
  width: 50px;
}

// バリデーションメッセージ
.alert {
  color: #262626;
  background: #ffebe8;
  text-align: center;
  border: 2px solid #990000;
  padding: 12px;
  font-weight: 850;
}
.notice {
  color: #262626;
  background: #ffebe8;
  text-align: center;
  border: 2px solid #000080;
  padding: 12px;
  font-weight: 850;
}

.btn {
  width: 100%;
  margin-bottom: 10px;
}

.btn-links {
  margin-top: 20px;
  padding-top: 50px;
  border-top: solid 1px black;
}
.show-anime-box {
  margin: 10px 0 30px 0;
}

.episode-box {
  margin: 10px 0 30px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #c0c0c0;
}

// 管理者
.admin-top {
}
.top-box {
  width: 32%;
  height: 300px;
  border: solid 2px black;
  margin: 0.3%;
}
.top-box > i {
  padding-left: 30%;
  padding-top: 10%;
}
.top-box > h2 {
  padding-left: 30%;
}
.top-box > h3 {
  padding-left: 38%;
}

#box {
  height: 500px;
  position: relative;
}
#box > p {
  position: absolute;
  bottom: 20px;
  left: 100px;
  font-size: 70px;
  color: #ffffcc;
  margin-bottom: 50px;
  font-family: impact;
}
.image1 {
  background-image: image-url("image1.jpg");
}
.image2 {
  background-image: image-url("image2.jpg");
}
.image3 {
  background-image: image-url("image3.jpg");
}
.image4 {
  background-image: image-url("image4.jpg");
}

/* ---------------------------- */
/* --- ハンバーガーアイコン --- */
/* ---------------------------- */
@media screen and (max-width: 768px) {
  #hm-icon {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
  }
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }
  .menu-trigger {
    position: relative;
    width: 50px;
    height: 44px;
  }
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
  }
  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .menu-trigger span:nth-of-type(2) {
    top: 20px;
  }
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
  .menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(20px) rotate(-45deg);
    background-color: #fff;
  }
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  .menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-20px) rotate(45deg);
    background-color: #fff;
  }
  /* ------------------------ */
  /* ------ spメニュー ------ */
  /* ------------------------ */
  #sp-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    width: 100%;
    min-height: 100%;
    display: none;
    z-index: 9;
  }
  #sp-menu li {
    text-align: center;
    margin-bottom: 30px;
  }
  #sp-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}
