/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 header{
  position:  relative;
  height: 130px;
  opacity:0.9;
 }
 .logo{
  opacity:1;
  top:5px;
  left:5px;
 }

 body{
    background-color: #D8D8D8;
 }

 .about-title{
   margin: 10px 20px 30px;
   width:11%;
   border-bottom: solid 2px red;
 }

 .about-text{
   margin: 250px auto 20px;
   border-style: none;
 }
 .about-text2{
  margin: 350px auto 20px;
  border-style: none;
}
.about-text3{
  margin: 400px auto 20px;
  border-style: none;
}

 .anime-box {

    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
 }


 .flex {
   display: flex;
   background-image: url(film.png);
   background-size: cover;
   display: flex; /* 追加 */
   flex-wrap: wrap;
   justify-content: center; /* 追加 */
  align-items: center;
  padding: 50px;
 }
 .flex > .anime-box {
   width: 25%;
   height: 300px;
   margin: 5px;
   background-color: red;
 }
 .image{
    margin: 0 auto;
 }
 .table{
    position:  relative;
    background-color: #fff;
 }

 h4{
   position:  absolute;
   left:  130px;
   top: 10px;
   border-bottom:double 5px #4ec4d3;
 }
 .comment{
   position:  absolute;
   left:  130px;
   top: 55px;
 }
 .created{
   position:  absolute;
   right:  50px;
   bottom: 5px;
 }
 .edit{
   position:  absolute;
   right:  50px;
   bottom: 50px;
 }

.anime-title{
   position:  absolute;
   left:  220px;
   top: 10px;
}
// バリデーションメッセージ
.alert {
  color:#262626;
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:850;
}